*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

# Keystore files (IMPORTANT: Never commit these!)
keystore.properties
*.jks
*.keystore
release-keystore.jks
debug-keystore.jks
